.calculator {
    width: 340px;
    text-align: center;
    margin: 40px auto;
    padding-top: 10px;
    font-family: sans-serif;
    border-radius: 10px 10%;
    background-color: hsl(209, 80%, 90%);
    background-image: linear-gradient(to top, hsl(209, 80%, 80%), hsl(209, 80%, 90%));
    box-shadow: 0px 2px 2px hsl(209, 80%, 70%),
                0px 5px 1px hsl(209, 80%, 50%),
                10px 20px 15px hsl(0, 0%, 40%);
}

.calc-caption {
    font-family: "Indie Flower";
    font-size: 25px;
    text-transform: uppercase;
}

.display {
    height: 60px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    background-color: beige;
    font-size: 50px;
    overflow: hidden;
    box-shadow: inset 0 3px 10px black;
}

.row {
    margin-left: 20px;
}

.button {
    width: 50px;
    height: 50px;
    display: inline-flex;
    margin: 0px 20px 20px 0px;
    border: 1px solid black;
    border-radius: 16px;
    background-image: linear-gradient(to top, hsl(29, 59%, 50%), hsl(29, 59%, 90%));
    box-shadow: inset 0px -2px 1px hsla(0, 0%, 0%, 0.5);
    cursor: pointer;
}

.btn-wide {
    width: 120px;
}

.button:active {
    background-image: linear-gradient(to top, hsl(29, 59%, 45%), hsl(29, 59%, 85%) 180%);
    box-shadow: inset 0px 1px 1px hsla(0, 0%, 0%, 0.5);
}

.button:active > .btn-caption {

    transform: rotateX(15deg);
}

.btn-caption {
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.row > div {

}
